################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dnn Connect XSF Module
/Connect.Xsf/bin/Debug
/Connect.Testing.Koi/bin/Debug
/Connect.Testing.Koi/obj/Debug
/Connect.Xsf/obj/Debug
/Dnn Connect XSF Module/.vs/Dnn Connect XSF Module/v15
/Dnn Connect XSF Module/obj/Debug
/packages
